<!DOCTYPE html>
<html>
<head>
  <title>Node.js MVC Project</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Welcome <%= ivUser %></h1>
  <ul>
    <li><a href="/epac">View Credentials</a></li>
    <li><a href="https://www.mmfa.ibm.com/pkmslogout">Logout</a></li>
  </ul>
</body>
</html>